.axure {
    padding: 60px 0 40px;
    background-image: url("../img/background-1\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.axure::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.axure-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 34px;
    color: #fff;
}
.axure-title::after {
    content: '';
    width: 67px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 34px auto;
}
.axure-description {
    text-align: center;
    margin-top: 34px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}
.link-download {
    width: 135px;
    border: 1px solid #FFFFFF;
    margin: 60px auto 0px;
}
.link {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 42px;
    display: flex;
    justify-content: center;
    transition: 0.2s;     
}
.link:hover {
    background-color: gray;
    color: rgb(49, 48, 48);
}