.main {
    padding: 100px 0;
    background-image: url("../img/background-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.main::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.main-wrap {
    display: flex;
    justify-content: space-between;
    
}
.main-left {
    width: 545px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main-logo {
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 42px;
}
.main-logo::after {
    content: 'IT';
    width: 60px;
    height: 70px;
    font-size: 59px;
    color: #EC7979;
    margin-left: -15px;
}
.main-title {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    font-style: normal;
    font-weight: 400;
}
.main-title::after {
    content: '';
    width: 67px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-top: 32px;
}
.main-description {
    width: 300px;
    text-align: left;
    margin-top: 34px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}
.link-download-main {
    width: 135px;
    border: 1px solid #FFFFFF;
    margin-top: 39px;
}
.link {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 42px;
    display: flex;
    justify-content: center;
    transition: 0.2s;     
}
.link:hover {
    background-color: gray;
    color: rgb(49, 48, 48);
}
.form {
    width: 370px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}
.form-content {
    padding: 20px 59px 60px;
}
.form-title {
    margin-bottom: 45px;
    font-size: 20px;
    font-family: "Open sans";
    text-transform: capitalize;
    text-align: center;
}
.form-title span {
    color: #EC7979;
}
label {
    display: block;
    color: #BDBDBD;
    font-size: 14px;
    font-family: "Open sans";
    margin-bottom: 10px;
}
input {
    display: block;
    width: 252px;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
}
.form-item {
    margin-bottom: 20px;
}
.form-item:last-child {
    margin-bottom: 0;
}
.btn {
    display: block;
    width: 100%;
    height: 54px;
    border: transparent;
    background-color: #EC7979;
    color: #FFFFFF;
    cursor: pointer;
}