.pricing {
    padding: 80px 0px 70px;
    background-color: #F5F5F5;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 34px;
    color: #212121;
}
.description {
    text-align: center;
    margin-top: 34px;
    font-family: "Open sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
}
.list {
    margin: 0px 15px;
}
.list-item__tarif {
    margin: 2px 0;
    width: 340px;
    font-size: 20px;
    background-color: #333333;
    font-family: "Open sans";
    font-weight: 700;
    color: #fff;
    line-height: 37px;
    text-align: center;
}
.list-item__cost {
    margin: 2px 0;
    width: 340px;
    font-size: 35px;
    background-color: #333333;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
    text-align: center;
}
.list-item__text {
    margin: 2px 0 4px;
    width: 340px;
    font-size: 14px;
    background-color: #333333;
    font-family: "Open sans";
    color: rgba(255, 255, 255, 0.5);
    line-height: 37px;
    text-align: center;
}
.list-item {
    margin: 4px 0;
    width: 340px;
    font-size: 14px;
    background-color: #FFFFFF;
    font-family: "Open sans";
    color: #86878B;
    line-height: 37px;
    text-align: center;
}
.list-item:last-child {
    margin-bottom: 0;
}